@import "~antd/dist/antd.css";

.App {
  width: 100%;
  text-align: center;

}

.Container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
